.card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  width: 500px;
}
.main {
  text-align: center;
}
.f {
  color: #4285f4;
}
.u {
  color: #db4437;
}
.n {
  color: #f4b400;
}
.d {
  color: #4285f4;
}
.o {
  color: #0f9d58;
}
.O {
  color: #db4437;
}
a {
  text-decoration: none;
}
.card :hover {
  background-color: #ffa500;
  transform: scale(1.1);
}
