<div class="main" fxLayoutAlign="center center" fxFlex="100" fxFlexOffset.xs="0" fxFlex.xs="100">
    <mat-card fxFlex.xs="100">
        <div>
            <div>
                <mat-card-title>
                    <p>
                        <span class="f">F</span>
                        <span class="u">u</span>
                        <span class="n">n</span>
                        <span class="d">d</span>
                        <span class="o">o</span>
                        <span class="O">o</span>
                    </p>
                </mat-card-title>
            </div>
            <form [formGroup]="emailForm" autocomplete="off" novalidate (ngSubmit)="next(emailForm.value)">
                <div>
                    <mat-card-content>
                        <div>
                            <mat-card-subtitle>Find your Email</mat-card-subtitle>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" fxFlex="91" fxFlex.xs="100">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" placeholder="Email" class="email" formControlName="email"
                                    id="email">
                                <mat-error *ngIf="emailForm.hasError('email', 'required')">email is required
                                </mat-error>
                                <mat-error *ngIf="emailForm.hasError('email', 'email')">invalid mail</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayoutAlign="space-between center">
                            <button mat-raised-button color="primary" [disabled]="!emailForm.valid">Next</button>
                        </div>
                    </mat-card-content>
                </div>
            </form>
        </div>
    </mat-card>
</div>