.f {
  color: #4285f4;
}
.u {
  color: #db4437;
}
.n {
  color: #f4b400;
}
.d {
  color: #4285f4;
}
.o {
  color: #0f9d58;
}
.O {
  color: #db4437;
}
.example-app-name {
    font-size: 30px;
}
.example-toolbar{
  border-bottom: 1px solid black;
}
