.takeNote{
    border: 1.5px solid black;
    border-radius:5px;
}
.text-area{
    background-color:rgb(174, 174, 190);
}
.close-btn{
    text-align:end;
}
.textarea{
    border:none;
    outline: none;
    background-color:rgb(174, 174, 190);
}